{% extends 'main.html' %}

{% block content %}
<h1>{{ grievance.type }}</h1>
<p>{{ grievance.description }}</p>
<p>Department: {{ grievance.department }}</p>
<p>Severity: {{ grievance.severity }}</p>
<p>Status: {{ grievance.status }}</p>
<h2>Messages</h2>
<ul>
    {% for message in messages %}
        <li>{{ message.user.username }}: {{ message.message }}</li>
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Message</button>
</form>

{% if request.user.role == 'hr' or request.user.role == 'admin' %}
        <h2>Admin Actions</h2>
        <form method="post" onsubmit="return confirm('Are you sure you want to delete this grievance?');">
            {% csrf_token %}
            <button type="submit" name="delete_grievance">Delete Grievance</button>
        </form>
 {% endif %}

{% endblock %}

